<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroo.mypage.mapper.MyPageMapper">
    <update id="updateEmployee" parameterType="com.haroo.mypage.domain.MyPageUserDTO">
        update employee
        set em_phone = #{emPhone},
            em_email = #{emEmail},
            em_pw = #{emPw}
        where em_no = #{emNo}
    </update>
</mapper>